/* Estilos para sobrescribir el focus azul predeterminado */
input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(1, 58, 26, 0.3) !important;
  border-color: #013a1a !important;
}

/* Eliminar el outline azul predeterminado de Chrome */
*:focus {
  outline: none !important;
}

/* Eliminar el outline azul en Firefox */
*::-moz-focus-inner {
  border: 0 !important;
}
